<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <a class='navbar-brand' [routerLink]='["/"]'>Block Chain</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [routerLink]='["/"]' [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
Sidenav content
</mat-sidenav>
<mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>  -->
