<h1>{{Title}}</h1>

<mat-spinner *ngIf="isBusy"></mat-spinner>

<table mat-table [dataSource]="forecasts" class="mat-elevation-z8" *ngIf="!isBusy">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="customerIdentifier">
    <th mat-header-cell *matHeaderCellDef> Customer Identifier </th>
    <td mat-cell *matCellDef="let element"> {{element.customerIdentifier}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="vesselIdentifier">
    <th mat-header-cell *matHeaderCellDef> Vessel Identifier </th>
    <td mat-cell *matCellDef="let element"> {{element.vesselIdentifier}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate | date:'MM/dd/yyyy, HH:mm'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate | date:'MM/dd/yyyy, HH:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="isValid">
      <th mat-header-cell *matHeaderCellDef> Valid </th>
      <td mat-cell *matCellDef="let element"> {{element.isValid}}</td>
    </ng-container>

  <ng-container matColumnDef="button1">
    <th mat-header-cell *matHeaderCellDef> View Certificate </th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="primary" (click)="getCertificateById(element)">View Certificate</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

